body {
  width: 100vw;
  height: 100vh;
}

.App {
  text-align: center;
}

.login {
  margin: auto;
  margin-top: 30%;
  padding: 1em;
  width: 40%;
  min-width: 200px;
  max-width: 400px;
  background-color: lightgreen;
}

.login label {
  display: block;
}

.login * {
  margin: 1em;
  vertical-align: middle;
}

.top-bar {
  height: 10vh;
  background-color: lightblue;
  font-size: 2em;
}

.user-list, .chat-box {
  display: inline-block;
  height: 90vh;
}

.user-list {
  width: 25%;
  background-color: lightgreen;
  font-size: 2em;
}

.chat-box {
  width: 75%;
  background-color: lightgray;
  font-size: 2em;
}