body {
  width: 100vw;
  height: 100vh;
}

.App {
  text-align: center;
}

.login {
  margin: auto;
  margin-top: 30%;
  padding: 1em;
  width: 40%;
  min-width: 200px;
  max-width: 400px;
  background-color: lightgreen;
}

.login label {
  display: block;
}

.login * {
  margin: 1em;
  vertical-align: middle;
}